In [61]:
# !pip install mysql-connector-python

In [1]:
import re
import json
import boto3
import mysql.connector
import pandas as pd

In [2]:
access_key_id = 'AKIAUKJSSORFOCZGKI5K'
secret_access_key = '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'
bucket_name = 'ziontkim-recruitment-1'

s3 = boto3.resource('s3', aws_access_key_id=access_key_id, aws_secret_access_key=secret_access_key)
client = s3.meta.client

In [3]:
# S3에 저장된 파일 목록 읽어오기 (최대 1000개) -> 한계점 있음
# s3.meta.client.list_objects(Bucket=bucket_name)['Contents']

# 저장된 오브젝트 하나 가져오기
# target_object = s3.meta.client.list_objects(Bucket=bucket_name)['Contents'][0]

In [4]:
dataBase = mysql.connector.connect(
  host ="mysql",
  user ="root",
  passwd ="passwd",
  database = "recruitment"
)

# preparing a cursor object
cursorObject = dataBase.cursor()

In [255]:
# creating database
# cursorObject.execute("CREATE DATABASE IF NOT EXISTS recruitment")

In [8]:
cursorObject.execute("DROP TABLE programmers")

In [36]:
create_table = 'CREATE TABLE programmers (\
id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,\
Category VARCHAR(20) NOT NULL,\
Company VARCHAR(20) NOT NULL,\
Source VARCHAR(20) NOT NULL,\
EmployeeNumber INT NULL,\
WorkLocation VARCHAR(100) NULL,\
Stacks VARCHAR(300) NULL,\
Status VARCHAR(10) NOT NULL,\
Salary INT NULL,\
CreatedTime DATETIME NOT NULL,\
LastModifiedTime DATETIME NOT NULL\
)'

cursorObject.execute(create_table)

In [37]:
#  https://gonigoni.kr/posts/list-over-1000-files-from-s3/
paginator = client.get_paginator('list_objects_v2')

response_iterator = paginator.paginate(
    Bucket='ziontkim-recruitment-1',
    Prefix='programmers/'
)

In [38]:
wish_attr_list = ['id', 'Category', 'Company', 'Source', 'EmployeeNumber', 'WorkLocation', 'Stacks', 'Status', 'Salary', 'CreatedTime',  'LastModifiedTime']

In [39]:
def get_addr(x):
    x = x.replace("대한민국", "")
    x.strip()
    x = x.split()
    x = " ".join([x[0][:2]] + x[1:])
    if res := re.match('.*로|.*길|.*동', x).group():
        return res.strip()
    return

In [40]:
for page in response_iterator:
    for content in page['Contents']:
        try:
            if content['Key'][-1] == "/":
                continue
            body = client.get_object(Bucket=bucket_name,
                                     Key=content['Key'])['Body']
            dict_data = json.loads(body.read().decode())

            if 'Salary' in dict_data.keys():
                dict_data['Salary'] = int(dict_data['Salary'].split(" ")[0])

            if 'WorkLocation' in dict_data.keys():
                dict_data['WorkLocation'] = get_addr(dict_data['WorkLocation'])

            column_list = []
            for attr in wish_attr_list:
                if attr in dict_data.keys():
                    column_list.append(attr)

            table = 'programmers'
            columns = ", ".join(column_list)
            placeholders = ', '.join(['%s'] * len(column_list))

            sql = "INSERT INTO %s ( %s ) VALUES ( %s )" % (table, columns, placeholders)

            cursorObject.execute(sql, [dict_data[col] for col in column_list])
        except:
            print(dict_data)
            break

In [43]:
dataBase.commit()

In [41]:
cursorObject.execute("SELECT * FROM programmers")

data_list_from_s3 = []
for d in cursorObject:
    data_list_from_s3.append(d)
    
columns = ['id', 'Category', 'Company', 'Source', 'EmployeeNumber', 'WorkLocation', 'Stacks', 'Status', 'Salary', 'CreatedTime', 'LastModifiedTime']
df = pd.DataFrame(columns=columns)
print("-------------")
d_df = pd.DataFrame(data_list_from_s3, columns=columns)
print("*************")
df = pd.concat([df, d_df], ignore_index=True)
df

-------------
*************

,id,Category,Company,Source,EmployeeNumber,WorkLocation,Stacks,Status,Salary,CreatedTime,LastModifiedTime
0,1,데이터 엔지니어,AB180,programmers,101,서울 서초구 강남대로,"Python,R,Tensorflow,PyTorch,Scikit-Learn,SQL",In progres,NaN,2022-07-10 01:44:05,2022-07-10 01:44:05
1,2,데이터 엔지니어,Gauss Labs,programmers,21,서울 강남구 테헤란로,None,In progres,NaN,2022-07-10 01:46:34,2022-07-10 01:46:34
2,3,데이터 엔지니어,VETEC,programmers,24,대전 유성구 테크노3로,"Java,Spring,Docker,Nginx,SQL,REST API,JavaScri...",In progres,NaN,2022-07-10 01:46:12,2022-07-10 01:46:12
3,4,데이터 엔지니어,WATCHA,programmers,241,서울 서초구 강남대로,"Kubernetes,Docker,PyTorch,Python,Tensorflow",In progres,NaN,2022-07-10 01:45:36,2022-07-10 01:45:36
4,5,데이터 엔지니어,Xinics,programmers,35,서울 구로구 디지털로,"Ruby on Rails,.NET,PHP,Redis,HAProxy,Ansible,S...",In progres,3000.0,2022-07-10 01:47:06,2022-07-10 01:47:06
5,6,데이터 엔지니어,고위드,programmers,32,서울 강남구 도산대로,"Google Cloud Platform,SQL,Python",In progres,NaN,2022-07-10 01:45:04,2022-07-10 01:45:04
6,7,데이터 엔지니어,데브시스터즈,programmers,252,서울 강남구 도산대로,"Go,Java,Scala,Python",In progres,3000.0,2022-07-10 01:46:30,2022-07-10 01:46:30
7,8,데이터 엔지니어,룩코,programmers,18,서울 강남구 도곡로,"MariaDB,PostgreSQL,AWS RDS,Database,AWS EC2,Se...",In progres,3600.0,2022-07-10 01:44:34,2022-07-10 01:44:34
8,9,데이터 엔지니어,릴리커버,programmers,24,대구 동구 동대구로,"Flask,Tensorflow,Git,PostgreSQL,REST API,Maria...",In progres,2800.0,2022-07-10 01:46:26,2022-07-10 01:46:26
9,10,데이터 엔지니어,메쉬코리아,programmers,416,서울 강남구 체헤란로,"Bamboo,GitHub,AWS SageMaker,AWS Kinesis,PyTorc...",In progres,4000.0,2022-07-10 01:43:45,2022-07-10 01:43:45
10,11,데이터 엔지니어,메쉬코리아,programmers,416,서울 강남구 체헤란로,"Python,Java,AWS S3,Apache Kafka,AWS DynamoDB,A...",In progres,4000.0,2022-07-10 01:43:41,2022-07-10 01:43:41
11,12,데이터 엔지니어,모토브,programmers,39,서울 강남구 강남대로,"Redis,AWS Athena,AWS CodePipeline,Spring Boot,...",In progres,NaN,2022-07-10 01:45:08,2022-07-10 01:45:08
12,13,데이터 엔지니어,바로고,programmers,285,서울 강남구 언주로,"Oracle,PostgreSQL,Apache Kafka,AWS Athena,AWS ...",In progres,NaN,2022-07-10 01:45:24,2022-07-10 01:45:24
13,14,데이터 엔지니어,바로고,programmers,285,서울 강남구 언주로,"Jenkins,Terraform,Apache Kafka,Kubernetes,Docker",In progres,NaN,2022-07-10 01:45:28,2022-07-10 01:45:28
14,15,데이터 엔지니어,버즈니,programmers,87,서울 관악구 남부순환로,"Pandas,Node.js,MySQL,MongoDB,GCP(Google Cloud ...",In progres,5000.0,2022-07-10 01:43:53,2022-07-10 01:43:53
15,16,데이터 엔지니어,버즈니,programmers,87,서울 관악구 남부순환로,"Python,Docker,PyTorch,GCP(Google Cloud Platfor...",In progres,NaN,2022-07-10 01:43:57,2022-07-10 01:43:57
16,17,데이터 엔지니어,버킷플레이스(오늘의집),programmers,433,서울 서초구 서초대로,None,In progres,NaN,2022-07-10 01:45:20,2022-07-10 01:45:20
17,18,데이터 엔지니어,버킷플레이스(오늘의집),programmers,433,서울 서초구 서초대로,None,In progres,NaN,2022-07-10 01:45:40,2022-07-10 01:45:40
18,19,데이터 엔지니어,버킷플레이스(오늘의집),programmers,433,서울 서초구 서초대로,None,In progres,NaN,2022-07-10 01:45:16,2022-07-10 01:45:16
19,20,데이터 엔지니어,빅픽처팀,programmers,112,서울 강남구 역삼로,"Tableau,Python,SQL,Docker,AWS EC2,Elasticsearc...",In progres,3000.0,2022-07-10 01:44:22,2022-07-10 01:44:22
20,21,데이터 엔지니어,스테이지파이브,programmers,86,서울 송파구 올림픽로,"SQL,Python",In progres,NaN,2022-07-10 01:44:56,2022-07-10 01:44:56
21,22,데이터 엔지니어,스트리미,programmers,107,서울 송파구 올림픽로,"Python,Google BigQuery,Apache Hive,AWS Athena",In progres,5000.0,2022-07-10 01:46:22,2022-07-10 01:46:22
22,23,데이터 엔지니어,스페이스워크,programmers,56,서울 성동구 왕십리로,"Apache Spark,Amazon Web Services(AWS),Image Pr...",In progres,NaN,2022-07-10 01:44:13,2022-07-10 01:44:13
23,24,데이터 엔지니어,스페이스워크,programmers,56,서울 성동구 왕십리로,"Deep Learning,PyTorch,Tensorflow",In progres,NaN,2022-07-10 01:44:18,2022-07-10 01:44:18
24,25,데이터 엔지니어,싱크테크노,programmers,10,서울 서초구 강남대로,"Vue.js,Python,Node.js,MySQL,MongoDB,JavaScript...",In progres,NaN,2022-07-10 01:47:02,2022-07-10 01:47:02
25,26,데이터 엔지니어,쏘마,programmers,18,경기 성남시 분당구 삼평동 판교로,"Datadog,Docker,GitHub,Redis,Elasticsearch,Post...",In progres,NaN,2022-07-10 01:45:56,2022-07-10 01:45:56
26,27,데이터 엔지니어,쏘마,programmers,18,경기 성남시 분당구 삼평동 판교로,"Datadog,Docker,GitHub,Apache Kafka,Elastic Sta...",In progres,NaN,2022-07-10 01:45:52,2022-07-10 01:45:52
27,28,데이터 엔지니어,쏘마,programmers,18,경기 성남시 분당구 삼평동 판교로,Python,In progres,NaN,2022-07-10 01:46:00,2022-07-10 01:46:00
28,29,데이터 엔지니어,아비커스,programmers,21,서울 강남구 강남대로,"Data Analysys,SQL,Python,PostgreSQL,MongoDB",In progres,5000.0,2022-07-10 01:46:54,2022-07-10 01:46:54
29,30,데이터 엔지니어,아비커스,programmers,21,서울 강남구 강남대로,"Keras,PyTorch,Azure,Tensorflow,Deep Learning,M...",In progres,5000.0,2022-07-10 01:46:58,2022-07-10 01:46:58
30,31,데이터 엔지니어,아비커스,programmers,21,서울 강남구 강남대로,"Linux,C++,Python,Data Analysys",In progres,5000.0,2022-07-10 01:47:14,2022-07-10 01:47:14
31,32,데이터 엔지니어,아이트,programmers,21,서울 서초구 강남대로,Python,In progres,2800.0,2022-07-10 01:45:32,2022-07-10 01:45:32
32,33,데이터 엔지니어,아티언스,programmers,84,서울 마포구 양화로,"Elasticsearch,MySQL,R,AWS Redshift,Python",In progres,NaN,2022-07-10 01:46:50,2022-07-10 01:46:50
33,34,데이터 엔지니어,어센트코리아,programmers,49,서울 강남구 도산대로,"Java,Python,C++,C",In progres,4000.0,2022-07-10 01:44:51,2022-07-10 01:44:51
34,35,데이터 엔지니어,어센트코리아,programmers,49,서울 강남구 도산대로,"Python,Java",In progres,4000.0,2022-07-10 01:44:47,2022-07-10 01:44:47
35,36,데이터 엔지니어,오비이랩,programmers,31,서울 강남구 테헤란로,"Data Binding,Data Analysys,Big Data,Deep Learn...",In progres,3000.0,2022-07-10 01:46:08,2022-07-10 01:46:08
36,37,데이터 엔지니어,오케스트로,programmers,90,서울 영등포구 국제금융로,"Amazon Web Services(AWS),GCP(Google Cloud Plat...",In progres,NaN,2022-07-10 01:46:46,2022-07-10 01:46:46
37,38,데이터 엔지니어,오케스트로,programmers,90,서울 영등포구 국제금융로,"Linux,Apache Hadoop,Apache Spark",In progres,NaN,2022-07-10 01:46:42,2022-07-10 01:46:42
38,39,데이터 엔지니어,올거나이즈코리아,programmers,19,서울 강남구 도곡로,"PyTorch,Tensorflow,NLP,Keras",In progres,4500.0,2022-07-10 01:46:18,2022-07-10 01:46:18
39,40,데이터 엔지니어,와디즈,programmers,324,경기 성남시 분당구 판교로,"R,Python,SQL",In progres,NaN,2022-07-10 01:45:12,2022-07-10 01:45:12
40,41,데이터 엔지니어,웨이브릿지,programmers,54,서울 영등포구 의사당대로,"AWS Redshift,SQL",In progres,3000.0,2022-07-10 01:44:09,2022-07-10 01:44:09
41,42,데이터 엔지니어,위메이드,programmers,312,경기 성남시 대왕판교로,Azure Data Factory,In progres,NaN,2022-07-10 01:44:26,2022-07-10 01:44:26
42,43,데이터 엔지니어,이노팸,programmers,14,"서울 용산구 원효로 138, (원효로","PostgreSQL,ES6,Spring Boot,Node.js,JavaScript,...",In progres,NaN,2022-07-10 01:45:44,2022-07-10 01:45:44
43,44,데이터 엔지니어,인젠트,programmers,219,서울 영등포구 국제금융로,"jQuery,Vue.js,CSS,HTML,MySQL,Oracle,PostgreSQL...",In progres,3000.0,2022-07-10 01:44:01,2022-07-10 01:44:01
44,45,데이터 엔지니어,인포보스,programmers,13,서울 강남구 삼성동,"NLP,Python,SQL,Keras,Tensorflow",In progres,NaN,2022-07-10 01:43:37,2022-07-10 01:43:37
45,46,데이터 엔지니어,인플루엔셜,programmers,92,서울 서초구 서초대로,"AWS QuickSight,Apache Spark,Apache Hadoop,Apac...",In progres,NaN,2022-07-10 01:46:38,2022-07-10 01:46:38
46,47,데이터 엔지니어,제네시스랩,programmers,46,서울 중구 명동길,Python,In progres,NaN,2022-07-10 01:46:04,2022-07-10 01:46:04
47,48,데이터 엔지니어,페이타랩,programmers,41,부산 부산진구 서면로,"R,Python,SQL",In progres,NaN,2022-07-10 01:45:00,2022-07-10 01:45:00
48,49,데이터 엔지니어,페이타랩,programmers,41,서울 강남구 영동대로,"AWS AppStream,AWS S3,Vue.js,MySQL,Node.js,PHP,...",In progres,NaN,2022-07-10 01:43:33,2022-07-10 01:43:33
49,50,데이터 엔지니어,페이타랩,programmers,41,서울 강남구 영동대로,"SQL,PostgreSQL,Kubernetes,Jenkins,Flask,Kotlin...",In progres,NaN,2022-07-10 01:43:49,2022-07-10 01:43:49
50,51,데이터 엔지니어,포커스미디어코리아,programmers,218,서울 영등포구 여의대로,"Data Analysys,AWS Data Pipeline,Scala,Java,Pyt...",In progres,NaN,2022-07-10 01:45:48,2022-07-10 01:45:48
51,52,데이터 엔지니어,프렌트립,programmers,55,서울 성동구 왕십리로,"GCP(Google Cloud Platform),Google BigQuery,MyS...",In progres,3000.0,2022-07-10 01:44:39,2022-07-10 01:44:39
52,53,데이터 엔지니어,프렌트립,programmers,55,서울 성동구 왕십리로,"GCP(Google Cloud Platform),Google BigQuery,MyS...",In progres,NaN,2022-07-10 01:44:43,2022-07-10 01:44:43
53,54,데이터 엔지니어,한국거래소시스템즈,programmers,58,서울 서초구 효령로,"Adobe XD,MySQL",In progres,NaN,2022-07-10 01:47:10,2022-07-10 01:47:10
54,55,데이터 엔지니어,해줌,programmers,78,서울 송파구 법원로,"MySQL,Python,Django",In progres,NaN,2022-07-10 01:44:30,2022-07-10 01:44:30

In [34]:
cursorObject.execute("DROP TABLE programmers")

In [33]:
cursorObject.execute("DROP TABLE skills")

In [44]:
len(df)

55

In [45]:
create_table = 'CREATE TABLE skills (\
id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,\
post_id INT NOT NULL,\
Skill VARCHAR(20) NOT NULL,\
FOREIGN KEY(post_id) REFERENCES programmers(id)\
)'

cursorObject.execute(create_table)

In [46]:
for row in df.iterrows():
    if 'Stacks' in row[1].keys() and row[1]['Stacks'] is not None:
        stack_list = row[1]['Stacks'].split(",")
        for stack in stack_list:

            insert_data = f"INSERT INTO skills ( post_id, Skill ) VALUES ( '{row[1]['id']}', '{stack}' )"
            cursorObject.execute(insert_data)

In [47]:
cursorObject.execute("SELECT * FROM skills")

data_list_from_s3 = []
for d in cursorObject:
    data_list_from_s3.append(d)
    
columns = ['id', 'post_id', 'Skill']
df = pd.DataFrame(columns=columns)

d_df = pd.DataFrame(data_list_from_s3, columns=columns)

df = pd.concat([df, d_df], ignore_index=True)
df

      id post_id         Skill
0      1       1        Python
1      2       1             R
2      3       1    Tensorflow
3      4       1       PyTorch
4      5       1  Scikit-Learn
..   ...     ...           ...
329  330      54      Adobe XD
330  331      54         MySQL
331  332      55         MySQL
332  333      55        Python
333  334      55        Django

[334 rows x 3 columns]

In [48]:
dataBase.commit()

In [80]:
row[1]

id              1
post_id         1
Skill      Python
Name: 0, dtype: object

In [49]:
df[df['post_id'] == 1]

  id post_id         Skill
0  1       1        Python
1  2       1             R
2  3       1    Tensorflow
3  4       1       PyTorch
4  5       1  Scikit-Learn
5  6       1           SQL